<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="head">
    <ul class="layui-nav " lay-filter="">
        <li class="layui-nav-item"><a href="">首页</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">分类</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="">分类1</a></dd>
                <dd><a href="">分类2</a></dd>
                <dd><a href="">分类3</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">登陆</a></li>
    </ul>

    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;

            //…
        });
    </script>
</div>
</body>
</html>