<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <!--<link rel="stylesheet" th:href="@{/layui/css/layui.css}">-->
    <!--<script th:src="@{/layui/layui.js}"></script>-->
    <!--<script th:src="@{/jquery-3.3.1.js}"></script>-->
</head>
<body>
    <div th:fragment="head">
        <a href="/">首页</a>
        <a th:if="${session.user==null}" th:href="@{user/login.to}">登陆</a>
        <a th:if="${session.user!=null}" th:text="${session.user.getUsername()}" href="/user/"></a>
    </div>
</body>
</html>