<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="layout/layout::head"></div>
<h3>用户详细信息</h3>
<div th:if="${session==null}" ></div>
<table>
    <tr>
        <td th:text="qq+${session.user.getQq()}"></td>
    </tr>
    <tr>
    <td th:text="手机+${session.user.getPhone()}"></td>
    <tr>
        <td th:text="邮箱+${session.user.getEmail()}"></td>
    </tr>
    <tr>
        <td th:text="创建时间+${session.user.getCreateAt()}"></td>
    </tr>
    <tr>
        <td th:text="发布数+${session.user.getGoodsNum()}"></td>
    </tr>
</table>
</body>
</html>