<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:include="layout/layout::head"></div>
<table th:each="good:${goods}">
    <tr>
        <td th:text="${good.getName()}" ></td>
        <td th:text="${good.getPrice()}"></td>
        <td><img th:src="@{layui/images/face/0.gif}" src=""/></td>
        <td><a th:href="@{product/{goodid} (goodid=${good.getId()})}">详情</a></td>
    </tr>
</table>
</body>
</html>